{% extends 'blog/base.html' %}
{% block content %}
    <div class="container" style="background:white; padding: 10px; margin-top: 10px; border-radius: 10px;">
        <h1>Hey there! 👋
            Welcome to MyBlog
             My little corner of the internet where I share all the fun (and chaos 😅) that comes with learning full stack web development.
            
            I’m a curious coder, web dev intern, and big fan of turning coffee into code ☕💻. Here you’ll find snippets of my journey, projects I’m working on, helpful tutorials, and honest thoughts from a fresher figuring things out one bug at a time.
            
            If you’re learning too, or just love all things web, I hope you feel right at home here 💛</h1>
    </div>
{% endblock content %}